<!DOCTYPE html>
<html>
        
    <head>
        <title>EDA monthly project</title>

    </head>



    <body>
        <h1>[3기 B-6] 김도연 EDA 프로젝트 배포 !</h1>
        <h2>Titanic Data EDA</h2>
        <p> 데이터  </p>
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/1.PNG?raw=true">
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/2.PNG?raw=true">
        <P> 생존한 승객들의 승선권 구입 가격 평균이 사망한 승객들보다 높다.</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/3.PNG?raw=true">
        <P> 승선권 구입 가격에 따른 사망자와 생존자 밀도함수 그래프</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/4.PNG?raw=true">
        <P> 생존한 승객들의 승선권 구입 가격이 사망한 승객들의 구입 가격보다 높으며 편차가 크다.</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/5.PNG?raw=true">
        <P> 객실 등급에 따른 승선권 구입가격의 평균과 표준편차</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/6.PNG?raw=true">
        <P>  1등급 객실 구매 가격이 굉장히 편차가 큰 것을 확인할 수 있다.</P>
        
        <h2>Auto-MPG Data EDA</h2>
        <p> 데이터 </p>
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/7.PNG?raw=true">
        

        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/8.PNG?raw=true">
        <P>  제조 국가가 숫자 범주 데이터로 이루어져 나라 이름인 문자열 데이터로 변환.</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/9.PNG?raw=true">
        <P>  제조 국가별 연비의 BOX-PLOT</P>
        
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/10.PNG?raw=true">
        <P>  제조 국가별 무게의 BOX-PLOT</P>

        
        <h2>귀여운 레이 사진으로 마무리..</h2>
        <img src="https://github.com/Do-Ray/montly-doray/blob/master/static/Ray.PNG?raw=true" >
        
    </body>

 </html>